@font-face{
	font-family:'Montserrat';
	src:url('../../../assets/fonts/Montserrat-Medium.ttf');
}

.hoverable:hover{
  cursor: pointer;
}

.new-btn {
  text-align: center;
  font-size: 75px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1031;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    width: 64px;
    background-color:#28447f;
}
.float-right crud-menu

.sidebar-icons{
	color:#ffffff;
	padding-bottom:15px;
	font-size:30px;
}

.form-control:focus{
	box-shadow:none;
	border-color:#ced4da;
}

.content-section{
}

.create-image-button{
	background: transparent;
    color: #3399cc;
    border: 1px solid #3399cc;
    border-radius: 5px;
    padding-right: 25px;
    padding-left: 25px;
}

.profile-image-container{
	width:40px;
	height:40px;
	border-radius:30px;
}

.image-container{
	width: 270px;
	border-radius: 10px;
	box-shadow: -1px 3px 14px 2px #cccccc7a;
    border:none;
}

.image-desc-container{
	font-size:14px;
	color:#cccccc;
}

.image-running-info{
	color:#e86d32;
}

.image-idle-info{
	border-right: 1px solid #afa6a6;border-left: 1px solid #afa6a6;color:#047afe;
}

.image-stop-info{
	color:#63a20f;	
}

.card-img-top{
	border-top-left-radius: 10px;border-top-right-radius: 10px;
}

.image-stats-container{
	border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;
}

.getKeyInfo{
	font-size:14px;
}

.fa-bell{
	font-size:20px;
}

.badge{
	position: absolute;
    top: 23px;
    right:83px;
    border-radius:10px;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9;
    background-color:#3399cc;
    color:#ffffff;
}
.search-button{
  background-color:#fbfefd;
  border:none;
  /*border-right:none;*/
  color: #ced4da;
}

.search-button:active,.search-button:hover,.search-button:focus{
  box-shadow: none;
}

.search-input{
  border:none;
  background-color: #fbfefd;
}

.search-input:active,.search-input:hover,.search-input:focus{
  box-shadow: none;
  /*border-color:;*/
  background-color: #fbfefd;
}

.search-input::placeholder{
  font-size:13px;
  color: #ced4da;
}

.crud-menu{
	color:#cccccc;
}

.crud-menu-delete:hover{
	color:#e03939;
}


.playlist-item{
    padding:10px;
	box-shadow: -1px 3px 14px 2px #cccccc7a;
}

.playlist-container{
    list-style-type:none;
	padding-left:0;
	overflow-y: auto;
	height: 28%;
	width: 100%;
}

.fa { transform: scale(.7,.7); }

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    border:1px solid rgb(27, 180, 109);
}

.container .btn:hover {
    background-color: rgb(27, 180, 109);
    color: rgb(255, 255, 255);
}
