<!-- <div class="container">
    <div class="row" style="margin-top: 20px;">
             <section class="content-section"> -->
<!-- <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="create-image-container" id="stage">
                        <iframe height = "400" style="width:100%;height:400px;" [src]="youtubeUrl" frameborder="0" allowfullscreen></iframe>
                         <ul class="playlist-container">
                                  <li class="playlist-item" *ngFor="let video of videos; let i = index" style=" font-size: 12px;">
                                      <a (click)="play(i);">
                                  <i style="color:#0606a4;" class="fa fa-play-circle" aria-hidden="true"></i>
                                 &nbsp;&nbsp;&nbsp;<span>{{video.title}}</span>
                              </a>
                           </li>
                         </ul>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6">
                      <iframe height = "600" style="width:100%;height:600px;" [src]="ide" frameborder="0"></iframe>
                    </div> -->

<!-- <div class="column">
            <div style="height:100%;right:0;width:55%;top:63px;">
              <iframe height = "600" width = "630" [src]="ide" frameborder="0"></iframe>
            </div>
        </div> -->
<!-- </div>
</div> -->

<app-loadiing *ngIf="loadindScreen"></app-loadiing>
<section class="content-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-5" *ngIf="!maxFlag" #frame>
        <iframe *ngIf="youtubeVideo" height="400" style="width:100%;height:400px;" [src]="youtubeUrl"
          frameborder="0" allowfullscreen>
                </iframe>
        <video *ngIf="!youtubeVideo" style="width:100%;height:400px;" src="http://techslides.com/demos/sample-videos/small.webm"
          controls>
                </video>
        <ul class="playlist-container">
          <a (click)="play(i);" style="cursor: pointer;" *ngFor="let video of videos; let i = index">
            <li class="playlist-item" style=" font-size: 12px;">
              <i style="color:#0606a4;" class="fa fa-play-circle" aria-hidden="true"></i>              &nbsp;&nbsp;&nbsp;
              <span>{{video.label}}</span>
            </li>
          </a>
        </ul>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-7" *ngIf="loadingButton" style="width:58.3%;height:600px; margin-top: 0; margin-left:0">
        <!-- <a class="btn btn-3" type="click" (click)="startContainer();" style="cursor: pointer; width: 100px; height: 40px;">
                    <div> -->
        <!-- <h4 style="margin-left: 40% !important; margin-top: 30% !important">Start Container</h4> -->
        <div class="container">
          <button data-toggle="modal" data-target="#container" class="btn" style="margin-top: 40% !important">Start Container</button>
        </div>
        <!-- </div>
                </a> -->
      </div>
      <div *ngIf="!maxFlag && loadIde" id="kide" style="width:58.3%;height:100%; margin-top: 0; margin-left:0">
        <iframe *ngIf="ide" id="kide-iframe" style="width:100%;height:100%; margin-top: 0; margin-left:0"
          [src]="ide" frameborder="0" #iframe>
                </iframe>
      </div>
      <div *ngIf="maxFlag && !loadindScreen" id="kide" style="width:100%; height:600px; margin-top: 0; margin-left:0">
        <iframe *ngIf="ide" id="kide-iframe" style="width:100%;height:100%; margin-top: 0; margin-left:0"
          [src]="ide" frameborder="0" #iframe>
                    </iframe>
      </div>
    </div>
  </div>
</section>

<!--modal for get container information-->
<div class="modal fade" id="container" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">{{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6" *ngFor="let container of allContainers;">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{container.label || 'Untitled'}}</h5>
                <p class="card-text">
                  <i class="fa fa-circle" [ngStyle]="{color: container.state=='active'?'green':(container.state=='idle'?'yellow':'red')}"
                    aria-hidden="true"></i> {{container.state}}
                </p>
                <p class="card-text">created at: {{container.createdAt | date}}<br>updated at: {{container.updatedAt
                  | date}}</p>
                <a (click)="startContainer(container.id);" class="btn btn-primary" data-dismiss="modal">Run</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 new-btn hoverable" (click)="startContainer(image_id)" data-dismiss="modal">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <h3>New</h3>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
