<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Sr No.</th>
        <th>Label</th>
        <th>Tags</th>
        <th>Status</th>
	<th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of tutorials; let i = index;">
        <th>{{ i + 1}}</th>
        <td><a target="_blank" href="{{t.link}}">{{t.label}}</a></td>
        <td>{{t.tags}} <i style="float: right;" class="fa fa-pencil"></i></td>
	<td>{{t.status}}</td>
        <td><button class="btn" *ngIf="t.status=='error in building image'" (click)="approve(t, i)">Retry</button></td>
      </tr>
    </tbody>
  </table>
</div>
