<body style="background:#f5f5f5;">
        <div id="wrapper">
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <a href="#menu-toggle" class="btn btn-secondary d-sm-none d-lg-none d-md-none" id="menu-toggle">Toggle Menu</a>
    <!--                 <button class="buttons-top">Hot</button>&nbsp;&nbsp;&nbsp;<button class="buttons-top">Trending</button> -->
                    <!-- <app-loadiing *ngIf="!allSections"></app-loadiing> -->

                    <div id="bootstrapModel" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                            </div>
                            <h6 class="modal-title" style="margin-left: 16px;">Are you sure delete the course</h6>
                      <!-- model body section -->
                            <div class="modal-body">
                              <br>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary" data-dismiss="modal"  (click)="deleteSection();">Ok</button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div id="bootstrapModel1" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                              </div>
                              <h5 class="modal-title" style="margin-left: 16px;">Update course</h5>
                        <!-- model body section -->
                              <div class="modal-body">
                                <input id="form_name" type="text" name="courseName" class="form-control" placeholder="Section Name" required="required" data-error="Firstname is required." [(ngModel)]="section.label">
                                <br>
                                <textarea id="form_name" type="text" name="courseDes" class="form-control" placeholder="Section description" required="required" data-error="Firstname is required." [(ngModel)]="section.description"></textarea>
                                <br>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateSection();">Update</button>
                              </div>
                            </div>
                          </div>
                        </div> 

                    <div class="course_detail" *ngIf="allSections">
                      <div class="card" style="border:none;">
                        <div class="card-header" style="background:transparent;border: none;">
                          <span style="font-size:25px;"></span>
                          <p class="mb-0 float-right" style="color:#ccc;">Updated on July 04,2018</p>
                          <p class="mb-0" style="color:#ccc;">Created by <span style="color:#000;"></span></p>
                        </div>
                        <div class="card-body">
                          <p class="card-text" style="color:#827c7c;"></p>
                        </div>
                        <div class="card-footer text-muted" style="background-color:transparent;">
                          <a href="#" style="color:#ccc;" class=""><i class="fa fa-eye" aria-hidden="true"></i> 5 Views</a>&nbsp;&nbsp;&nbsp;
                          <a href="#" style="color:#ccc;" class=""><i class="fa fa-comment-o" aria-hidden="true"></i> 2 Comments</a>
                        </div>
                      </div><br/>
                      <div class="sections">
                        <div id="accordion">
                          <div class="card mb-5"  *ngFor="let s of allSections; let i=index;">
                            <div class="card-header bg-white" id="headingOne" data-toggle="collapse" data-target="#collapseOne">
                              <h5 class="mb-0">
                                  {{s.label}}
                              </h5>
                              <p>{{s.description}}</p>
                              <button class="float-right" style="border: none; background-color: transparent" (click)="setDeleteSectionId(s.id)"  *ngIf="user.role_type=='admin'"><i class="fa fa-trash" aria-hidden="true" style="color: rgb(235, 102, 102)" data-toggle="modal" data-target="#bootstrapModel"></i></button>
                              <button class="float-right" style="border: none; background-color: transparent" (click)="setUpdateSection(s);"  *ngIf="user.role_type=='admin'" data-toggle="modal" data-target="#bootstrapModel1"><i class="fa fa-pencil" aria-hidden="true" style="color: #74d886" ></i></button>
                            </div>
    
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">  
                                <div class="list-group" id="list-tab" role="tablist"   *ngFor="let c of s.CourseChapters; let j=index;">
                                  <a type="click" class="list-group-item chapter-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home" (click)="toProfile(s.id, j);"><i class="fa fa-play-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{c.label}}<span clwass="float-right">0:53</span>
                                  </a>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->
    
        </div>
        </div>
        <!-- /#wrapper -->
    

    </body>

