<body>
   <i class="fa fa-times" aria-hidden="true" (click)="location.back()" style="position: absolute;right: 0; z-index: 10;"></i>
  <section class="content-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group">
            <h5>Image Name</h5>
            <input required type="text" [(ngModel)]="label" class="form-control form-control-md"
              placeholder="Image Name">
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <h5>Dependencies</h5>
              <div class="dependencies">
                <div class="row" *ngFor="let el of tools | keyvalue">
                  <div class="col-lg-4 col-md-4">
                    <img src="{{el.value.image}}" width="25px" alt="">&nbsp;{{el.key}}
                  </div>
                  <div class="col-lg-4 col-md-4">
                    @{{el.value.version}}
                  </div>
                  <div class="col-lg-4 col-md-4">
                    <a class="tool-trash hoverable" (click)="removeTools(el.key)">
                    <i class="fa fa-trash" style="color: red;"></i>
		</a>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <input (click)="searchTool()" [(ngModel)]="toolname" class="form-control" type="text"
                    placeholder="Name" (keyup)="searchTool()">
                  <ul class="search-box">
                    <li *ngFor="let tool of toolSearch" (click)="selectTool(tool)">{{tool}}</li>
                  </ul>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">@</div>
                    </div>
                    <input [(ngModel)]="toolversion" (click)="searchVersion()" [attr.disabled]="!versionEnabled ? '' : null"
                      type="text" class="form-control" placeholder="version" (keyup)="searchVersion()">
                    <ul class="search-box">
                      <li class="version-li" *ngFor="let version of versionSearch" (click)="selectToolVersion(version)">{{version}}</li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <button (click)="addTools(toolname, toolversion)" [attr.disabled]="!addButtonEnabled ? '': null"
                    class="btn btn-primary">Add</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div>
            <ace-editor [(text)]="text" #editor style="height:400px;"></ace-editor>
          </div>
          <br/>
	  <button [disabled]="btnText!=='Build'" class="btn save-image-button mt-3" (click)="createImage();">{{btnText}} </button> 
	  &nbsp;&nbsp;<span class="hoverable" data-toggle="modal" data-target="#image-log" ><i *ngIf="btnText=='Building'" class="fa fa-cog fa-spin fa-3x fa-fw" style="font-size: inherit;"></i> {{logs[logs.length -1]}}</span>
        </div>
      </div>
    </div>
  </section>

  <!--image upload and color change section modal section-->
  <div class="modal fade" id="image-log" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="border:none;">
          Image Creation
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
            </button>
        </div>
        <div class="modal-body">
          <div class="log">
            <div *ngFor="let log of logs;">
              <code>
                        {{log}}
                    </code>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
