<body style="background:#f5f5f5;">
        <div id="wrapper">
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <a href="#menu-toggle" class="btn btn-secondary d-sm-none d-lg-none d-md-none" id="menu-toggle">Toggle Menu</a>
                    <button class="buttons-top">Hot</button>&nbsp;&nbsp;&nbsp;<button class="buttons-top">Trending</button>
                    
                    <app-loadiing *ngIf="loading"></app-loadiing>
                    
                    <div class="course_list">
                        <h2 *ngIf="allCourses.length == 0">The Category is empty</h2>
                        <ul class="mt-4" style="list-style-type:none;padding-left:0;" *ngIf="!loading">
                            <li class="mb-4" *ngFor="let c of allCourses; let i=index;">
                                <div class="card" style="border:none;">
                                  <div class="card-header" style="background:transparent;border: none;">
                                      <a routerLink="/root/course/chapter/{{c.id}}"><span class="glyphicon glyphicon-log-in"></span><span style="font-size:25px;">{{c.label}}</span></a>
                                    <p class="mb-0 float-right" style="color:#ccc; font-size:14px;">Updated at</p>
                                    <p class="mb-0" style="color:#ccc; font-size: 14px;">Created by <span style="color:#000; font-size: 14px;">{{c.created_by}}</span></p>
                                  </div>
                                  <div class="card-body">
                                    <p class="card-text" style="color:#827c7c; font-size: 14px;">
                                        {{c.description}}</p>
                                  </div>
                                  <div class="card-footer text-muted" style="background-color:transparent;">
                                    <a href="#" style="color:#ccc; font-size: 14px;" class=""><i class="fa fa-eye" aria-hidden="true"></i> 5 Views</a>&nbsp;&nbsp;&nbsp;
                                    <a href="#" style="color:#ccc; font-size: 14px;" class=""><i class="fa fa-comment-o" aria-hidden="true"></i> 2 Comments</a>
                                  </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->
    
        </div>
    </body>

