<body style="background:#f5f5f5;">
        <div id="wrapper">
    
            <!-- Sidebar -->
            <div id="sidebar-wrapper" class="scrollPane">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">
                            <!-- Start Bootstrap -->
                        </a>
                    </li>
                    <li class="text-center" *ngFor="let cat of allCourseCategory; let i=index">
                        <!-- <a href="#">Dashboard</a> -->
                        <button style="background-color:#ffffff;border-radius:10px;margin-bottom:10px;padding:10px;box-shadow:0px 2px 5px 0px #0000002e;border:none;" (click)="courseDetail(cat.id);"><img width="40" src="{{cat.logo}}"></button>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
    
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <a href="#menu-toggle" class="btn btn-secondary d-sm-none d-lg-none d-md-none" id="menu-toggle">Toggle Menu</a>
                    <button class="buttons-top">Hot</button>&nbsp;&nbsp;&nbsp;<button class="buttons-top">Trending</button>
                    
                    <app-loadiing *ngIf="!allCourses && !flag"></app-loadiing>
                    
                    <div class="course_list">
                        <h2 *ngIf="flag && !allCourses">The Category is empty</h2>
                        <ul class="mt-4" style="list-style-type:none;padding-left:0;" *ngIf="allCourses && flag">
                            <li class="mb-4" *ngFor="let c of allCourses; let i=index;">
                                <div class="card" style="border:none;">
                                  <div class="card-header" style="background:transparent;border: none;">
                                      <a routerLink="/course/courseDetail/{{c.id}}"><span class="glyphicon glyphicon-log-in"></span><span style="font-size:25px;">{{c.label}}</span></a>
                                    <p class="mb-0 float-right" style="color:#ccc; font-size:14px;">Updated on July 04,2018</p>
                                    <p class="mb-0" style="color:#ccc; font-size: 14px;">Created by <span style="color:#000; font-size: 14px;">Supernav Majumdar</span></p>
                                  </div>
                                  <div class="card-body">
                                    <p class="card-text" style="color:#827c7c; font-size: 14px;">
                                        {{c.description}}</p>
                                  </div>
                                  <div class="card-footer text-muted" style="background-color:transparent;">
                                    <a href="#" style="color:#ccc; font-size: 14px;" class=""><i class="fa fa-eye" aria-hidden="true"></i> 5 Views</a>&nbsp;&nbsp;&nbsp;
                                    <a href="#" style="color:#ccc; font-size: 14px;" class=""><i class="fa fa-comment-o" aria-hidden="true"></i> 2 Comments</a>
                                  </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->
    
        </div>
        <!-- /#wrapper -->
    
        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="http://manos.malihu.gr/repository/custom-scrollbar/demo/jquery.mCustomScrollbar.concat.min.js"></script>
    
    </body>

