.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1031;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    width: 64px;
    background-color:#3399cc;
}
.fixed-top{
  max-height: 67px;
}

.sidebar-icons{
	color:#ffffff;
	padding-bottom:15px;
	font-size:30px;
}

.form-control:focus{
	box-shadow:none;
	border-color:#ced4da;
}

.content-section{
	margin-left: 100px;
    margin-top: 100px;
}

.create-image-button{
	background: transparent;
    color: #29447f;
    border: 1px solid #29447f;
    border-radius: 50px;
    padding-right: 25px;
    padding-left: 25px;
}

.profile-image-container{
	width:40px;
	height:40px;
	border-radius:30px;
}

.image-container{
	width: 270px;
    border-radius: 10px;
    box-shadow: 0px 3px 13px 1px #cccccc7a;
    border:none;
}

.image-desc-container{
	font-size:14px;
	color:#cccccc;
}

.image-running-info{
	color:#e86d32;
}

.image-idle-info{
	border-right: 1px solid #afa6a6;border-left: 1px solid #afa6a6;color:#047afe;
}

.image-stop-info{
	color:#63a20f;	
}

.card-img-top{
	border-top-left-radius: 10px;border-top-right-radius: 10px;
}

.image-stats-container{
	border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;
}

.getKeyInfo{
	font-size:14px;
}

.fa-bell{
	font-size:20px;
}

.badge{
	position: absolute;
    top: 23px;
    right:83px;
    border-radius:10px;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9;
    background-color:#3399cc;
    color:#ffffff;
}

.search-container{
	width:40%;
	margin-right: auto;
}

.search-input{
	border-bottom-right-radius:20px !important;
  border-top-right-radius:20px !important;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #cccccc;
    opacity: 1; /* Firefox */
}

.search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#cccccc;
}

.search-input::-ms-input-placeholder { /* Microsoft Edge */
    color:#cccccc;
}

.search-icon-container{
	border-bottom-left-radius:20px;
	border-top-left-radius:20px;
	border-right:0;
	background-color:#ffffff;
	color:#cccccc;
}

.crud-menu{
	color:#cccccc;
}


.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	background-color: white;
    z-index: 1;
	margin-right: 5px;
}

.dropdown-content button {
    color: black;
	padding: 12px 16px;
    text-decoration: none;
	display: block;
	font-family: 'Montserrat', sans-serif;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: transparent}



/* New nav bar css */



.btn:focus,.btn:active,.btn:hover{
    box-shadow: none;
  }
  .form-control:focus,.form-control:active,.form-control:hover{
    box-shadow:none;
    border-left:none;
    border-color:1px solid #ccc;

  }
  .features-icons-icon{
    background-color:#ffffff;
    border-radius:50px;
  }
  .testimonials[_ngcontent-c1] .testimonial-item[_ngcontent-c1] img[_ngcontent-c1] {
    max-width: 100%;
    box-shadow:none;
  }

  .testimonial-item{
    padding:33px;
    box-shadow:-1px 5px 7px #0000000f;
    border-radius:80px;
    background-color: #ffffff;
  }

  header.masthead{
    background-color: #72d5a4;
  }





  @font-face{
    font-family: 'Montserrat';
    src:url('../../assets/fonts/Montserrat-Medium.ttf');
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  
  header.masthead {
    position: relative;
    background-color: #72d5a4;
    /*background: url("../img/bg-masthead.jpg") no-repeat center center;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 7rem;
  }
  
  header.masthead .overlay {
    position: absolute;
    background:url('../../assets/images/overlay.png') no-repeat center;
    background-position-x:1000px;
    background-position-y:170px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
  }
  
  header.masthead h1 {
    font-size: 2rem;
  }
  
  @media (min-width: 768px) {
    header.masthead {
      padding-top: 10rem;
      padding-bottom: 12rem;
    }
    header.masthead h1 {
      font-size: 3rem;
    }
  }
  
  .showcase .showcase-text {
    padding: 3rem;
  }
  
  .showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
  }
  
  @media (min-width: 768px) {
    .showcase .showcase-text {
      padding: 7rem;
    }
  }
  
  .features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  
  .features-icons .features-icons-item {
    max-width: 20rem;
  }
  
  .features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
  }
  
  .features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
  }
  
  .features-icons .features-icons-item:hover .features-icons-icon i {
    font-size: 5rem;
  }
  
  .testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  
  .testimonials .testimonial-item {
    max-width: 7rem;
  }
  
  .testimonials .testimonial-item img {
    max-width: 12rem;
  }
  
  .call-to-action {
    position: static;
    background-color: #72d5a4 !important;
    background: url("../../assets/images/bg-masthead.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  
  .call-to-action .overlay {
    position: absolute;
    background-color: #72d5a4;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  
  footer.footer {
    padding-top: 8px;
    padding-bottom:  8px;
  }

  .btn1:hover{
    color: blue;
  }

  input::-moz-placeholder{color:#ccc;font-weight:500 !important;}
  input:-ms-input-placeholder{color:#ccc;font-weight:500 !important;}
  input::-ms-input-placeholder{color:#ccc;font-weight:500 !important;}
  input::placeholder{color:#ccc;font-weight:500 !important;}
  
  ul{
    padding: 0;
    list-style: none;
    background: #f2f2f2;
}
ul li{
    display: inline-block;
    position: relative;
    line-height: 20px;
    text-align: left;
}
ul li a{
    display: block;
    padding: 8px 40px;
    color: #333;
    text-decoration: none;
    background-color: white;
}
ul li a:hover{
    color: rgb(37, 37, 146);
}
ul li ul.dropdown-menu{
    min-width: 100%; /* Set width of the dropdown */
    background: white;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}
ul li ul.dropdown-menu li{
    display: block;
}



.profile-image{
  border: 1px solid #ccc;
}

.navbar-toggler{
  border:0;
}

.navbar-toggler:focus{
  outline:none;
}

.input-navbar-search{
  width:50%;
}

.dropdown-toggle::after{
  display:none;
}

@media only screen and (max-width:768px) {
    .input-navbar-search{
        width:100%;
    }
}

.search-result{
  position: absolute;
  top: 50px;
}

.search-result>li{
  width: 100%;
  display:inline;
}


/*===============general css=========================*/
@font-face{
	font-family:'Montserrat';
	src:url('../../assets/fonts/Montserrat-Medium.ttf');
}


html,body{
	width:100%;
	height:100%;
	font-family:'Montserrat',san-serif;
	-webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

a,a:hover,a:focus,a:active{
	color: #3399cc;
	text-decoration:none;
}

button{
	background-color:#3399cc;
	color:#ffffff;
}

::selection{

}

/*============ login css =====================*/
.login-img-grid{
	background:url('../../assets/images/login.png');
	width:100%;
	height:678px;
	background-position-y:-30px; 
}

.register-container{
  display:none;
  padding:3rem;
}

.login-tc-container{
	font-size:12px;
}

.login-register-container{
	font-size:14px;
}

.login-btn-container{
	border-radius:4px;
	padding-top:2px;
	padding-bottom:2px;
}


.md-input {
    position: relative;
    margin-bottom: 15px;
}
.login-email-input{
    position: relative;
	margin-bottom: 50px;	
}
.md-input .md-form-control {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid #CACACA;
    box-shadow: none;
    width: 100%;
}
.md-form-control:focus{
	outline:none;
}

    .md-input label {
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        /* transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all; */
    }

    .md-input .bar:before {
        left: 50%;
    }

    .md-input .bar:after {
        right: 50%;
    }

    .md-input .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }
    .md-input .md-form-control:focus ~ label{
    /* top: -15px; */
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    outline:none;
}
.md-input .bar:before, .md-input .bar:after {
    content: '';
    height: 1px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #03A9F4;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.md-input .md-form-control:focus ~ .bar:before, .md-input .md-form-control:focus ~ .bar:after {
    width: 50%;
    outline:none;
}

/*=============custom checkbox====================*/
.pure-checkbox *,
.pure-radiobutton * {
  box-sizing: border-box;
}
.pure-checkbox *:before,
.pure-radiobutton *:before,
.pure-checkbox *:after,
.pure-radiobutton *:after {
  box-sizing: border-box;
}
.pure-checkbox input[type="checkbox"],
.pure-radiobutton input[type="checkbox"],
.pure-checkbox input[type="radio"],
.pure-radiobutton input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.pure-checkbox input[type="checkbox"]:focus + label:before,
.pure-radiobutton input[type="checkbox"]:focus + label:before,
.pure-checkbox input[type="radio"]:focus + label:before,
.pure-radiobutton input[type="radio"]:focus + label:before,
.pure-checkbox input[type="checkbox"]:hover + label:before,
.pure-radiobutton input[type="checkbox"]:hover + label:before,
.pure-checkbox input[type="radio"]:hover + label:before,
.pure-radiobutton input[type="radio"]:hover + label:before {
  border-color: #3399cc;
  background-color: #f2f2f2;
}
.pure-checkbox input[type="checkbox"]:active + label:before,
.pure-radiobutton input[type="checkbox"]:active + label:before,
.pure-checkbox input[type="radio"]:active + label:before,
.pure-radiobutton input[type="radio"]:active + label:before {
  transition-duration: 0s;
}
.pure-checkbox input[type="checkbox"] + label,
.pure-radiobutton input[type="checkbox"] + label,
.pure-checkbox input[type="radio"] + label,
.pure-radiobutton input[type="radio"] + label {
  position: relative;
  padding: 5px 5px 5px 2em;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
}
.pure-checkbox input[type="checkbox"] + label:before,
.pure-radiobutton input[type="checkbox"] + label:before,
.pure-checkbox input[type="radio"] + label:before,
.pure-radiobutton input[type="radio"] + label:before {
  box-sizing: content-box;
  content: '';
  color:#3399cc;
  position: absolute;
  top: 50%;
  left: 0;
  width: 12px;
  height: 12px;
  margin-top: -9px;
  border: 2px solid #3399cc;
  text-align: center;
  transition: all 0.4s ease;
}
.pure-checkbox input[type="checkbox"] + label:after,
.pure-radiobutton input[type="checkbox"] + label:after,
.pure-checkbox input[type="radio"] + label:after,
.pure-radiobutton input[type="radio"] + label:after {
  box-sizing: content-box;
  content: '';
  background-color: #3399cc;
  position: absolute;
  top: 50%;
  left: 4px;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  transform: scale(0);
  transform-origin: 50%;
  transition: transform 200ms ease-out;
}
.pure-checkbox input[type="checkbox"]:disabled + label:before,
.pure-radiobutton input[type="checkbox"]:disabled + label:before,
.pure-checkbox input[type="radio"]:disabled + label:before,
.pure-radiobutton input[type="radio"]:disabled + label:before {
  border-color: #cccccc;
}
.pure-checkbox input[type="checkbox"]:disabled:focus + label:before,
.pure-radiobutton input[type="checkbox"]:disabled:focus + label:before,
.pure-checkbox input[type="radio"]:disabled:focus + label:before,
.pure-radiobutton input[type="radio"]:disabled:focus + label:before,
.pure-checkbox input[type="checkbox"]:disabled:hover + label:before,
.pure-radiobutton input[type="checkbox"]:disabled:hover + label:before,
.pure-checkbox input[type="radio"]:disabled:hover + label:before,
.pure-radiobutton input[type="radio"]:disabled:hover + label:before {
  background-color: inherit;
}
.pure-checkbox input[type="checkbox"]:disabled:checked + label:before,
.pure-radiobutton input[type="checkbox"]:disabled:checked + label:before,
.pure-checkbox input[type="radio"]:disabled:checked + label:before,
.pure-radiobutton input[type="radio"]:disabled:checked + label:before {
  background-color: #cccccc;
}
.pure-checkbox input[type="checkbox"] + label:after,
.pure-radiobutton input[type="checkbox"] + label:after {
  background-color: transparent;
  top: 50%;
  left: 3px;
  width: 8px;
  height: 3px;
  margin-top: -5px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0 0 3px 3px;
  border-image: none;
  transform: rotate(-45deg) scale(0);
}
.pure-checkbox input[type="checkbox"]:checked + label:after,
.pure-radiobutton input[type="checkbox"]:checked + label:after {
  content: '';
  transform: rotate(-45deg) scale(1);
  transition: transform 200ms ease-out;
}
.pure-checkbox input[type="radio"]:checked + label:before,
.pure-radiobutton input[type="radio"]:checked + label:before {
  animation: borderscale 300ms ease-in;
  background-color: white;
}
.pure-checkbox input[type="radio"]:checked + label:after,
.pure-radiobutton input[type="radio"]:checked + label:after {
  transform: scale(1);
}
.pure-checkbox input[type="radio"] + label:before,
.pure-radiobutton input[type="radio"] + label:before,
.pure-checkbox input[type="radio"] + label:after,
.pure-radiobutton input[type="radio"] + label:after {
  border-radius: 50%;
}
.pure-checkbox input[type="checkbox"]:checked + label:before,
.pure-radiobutton input[type="checkbox"]:checked + label:before {
  animation: borderscale 200ms ease-in;
  background: #3399cc;
}
.pure-checkbox input[type="checkbox"]:checked + label:after,
.pure-radiobutton input[type="checkbox"]:checked + label:after {
  transform: rotate(-45deg) scale(1);
}
.pure-checkbox.pure-checkbox-inline,
.pure-radiobutton.pure-checkbox-inline,
.pure-checkbox.pure-radiobutton-inline,
.pure-radiobutton.pure-radiobutton-inline {
  display: inline-block;
}
.pure-checkbox-toggle input[type="checkbox"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.pure-checkbox-toggle input[type="checkbox"] + label {
  position: relative;
  padding: 5px 5px 5px 40px;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  display: block;
}
.pure-checkbox-toggle input[type="checkbox"] + label:before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: 0;
  content: '';
  color: #3399cc;
  width: 35px;
  height: 20px;
  border-radius: 50px;
  text-align: center;
  transition: all 0.4s;
  background-color: #d6d6d6;
}
.pure-checkbox-toggle input[type="checkbox"] + label:after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: 0;
  content: '';
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #d6d6d6;
  transition: all 0.2s;
  box-sizing: border-box;
}
.pure-checkbox-toggle input[type="checkbox"]:checked + label:before {
  box-shadow: inset 0 0 0 10px #3399cc;
}
.pure-checkbox-toggle input[type="checkbox"]:checked + label:after {
  left: 15px;
  border-color: #3399cc;
  background-color: #ffffff;
}
.pure-checkbox-toggle input[type="checkbox"]:disabled + label {
  cursor: default;
}
.pure-checkbox-toggle input[type="checkbox"]:disabled + label:before {
  box-shadow: inset 0 0 0 10px #e3e3e3;
}
.pure-checkbox-toggle input[type="checkbox"]:disabled + label:after {
  border-color: #e3e3e3;
}
.pure-checkbox-toggle input[type="checkbox"]:disabled:checked + label:before {
  box-shadow: inset 0 0 0 10px #999999;
}
.pure-checkbox-toggle input[type="checkbox"]:disabled:checked + label:after {
  border-color: #999999;
}
.pure-checkbox-toggle--right input[type="checkbox"] + label {
  padding: 5px 40px 5px 5px;
}
.pure-checkbox-toggle--right input[type="checkbox"] + label:before {
  left: auto;
  right: 0;
}
.pure-checkbox-toggle--right input[type="checkbox"] + label:after {
  left: auto;
  right: 15px;
}
.pure-checkbox-toggle--right input[type="checkbox"]:checked + label:after {
  left: auto;
  right: 0;
}

/*===============register css==============================================*/
.register-input{
	margin-bottom: 30px;
}

.login-container{
  padding: 3rem;
}

/*=============================Responsive design=============================*/
@media only screen and (max-width:768px) {
  .login-container,.register-container {
    padding-top:3rem;
    /* padding-left: 0;
    padding-bottom:0;
    padding-right: 0; */
    text-align: center !important;
  }
}
