.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1031;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    width: 64px;
    background-color:#3399cc;
}
.fixed-top{
  max-height: 67px;
}

.sidebar-icons{
	color:#ffffff;
	padding-bottom:15px;
	font-size:30px;
}

.form-control:focus{
	box-shadow:none;
	border-color:#ced4da;
}

.content-section{
	margin-left: 100px;
    margin-top: 100px;
}

.create-image-button{
	background: transparent;
    color: #29447f;
    border: 1px solid #29447f;
    border-radius: 50px;
    padding-right: 25px;
    padding-left: 25px;
}

.profile-image-container{
	width:40px;
	height:40px;
	border-radius:30px;
}

.image-container{
	width: 270px;
    border-radius: 10px;
    box-shadow: 0px 3px 13px 1px #cccccc7a;
    border:none;
}

.image-desc-container{
	font-size:14px;
	color:#cccccc;
}

.image-running-info{
	color:#e86d32;
}

.image-idle-info{
	border-right: 1px solid #afa6a6;border-left: 1px solid #afa6a6;color:#047afe;
}

.image-stop-info{
	color:#63a20f;	
}

.card-img-top{
	border-top-left-radius: 10px;border-top-right-radius: 10px;
}

.image-stats-container{
	border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;
}

.getKeyInfo{
	font-size:14px;
}

.fa-bell{
	font-size:20px;
}

.badge{
	position: absolute;
    top: 23px;
    right:83px;
    border-radius:10px;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9;
    background-color:#3399cc;
    color:#ffffff;
}

.search-container{
	width:40%;
	margin-right: auto;
}

.search-input{
	border-bottom-right-radius:20px;
	border-top-right-radius:20px;
	border-left:0;
}

.search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #cccccc;
    opacity: 1; /* Firefox */
}

.search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#cccccc;
}

.search-input::-ms-input-placeholder { /* Microsoft Edge */
    color:#cccccc;
}

.search-icon-container{
	border-bottom-left-radius:20px;
	border-top-left-radius:20px;
	border-right:0;
	background-color:#ffffff;
	color:#cccccc;
}

.crud-menu{
	color:#cccccc;
}


.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	background-color: white;
    z-index: 1;
	margin-right: 5px;
}

.dropdown-content button {
    color: black;
	padding: 12px 16px;
    text-decoration: none;
	display: block;
	font-family: 'Montserrat', sans-serif;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: transparent}



/* New nav bar css */



.btn:focus,.btn:active,.btn:hover{
    box-shadow: none;
  }
  .form-control:focus,.form-control:active,.form-control:hover{
    box-shadow:none;
    border-left:none;
    border-color:1px solid #ccc;

  }
  .features-icons-icon{
    background-color:#ffffff;
    border-radius:50px;
  }
  .testimonials[_ngcontent-c1] .testimonial-item[_ngcontent-c1] img[_ngcontent-c1] {
    max-width: 100%;
    box-shadow:none;
  }

  .testimonial-item{
    padding:33px;
    box-shadow:-1px 5px 7px #0000000f;
    border-radius:80px;
    background-color: #ffffff;
  }

  header.masthead{
    background-color: #72d5a4;
  }





  @font-face{
    font-family: 'Montserrat';
    src:url('../../assets/fonts/Montserrat-Medium.ttf');
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  
  header.masthead {
    position: relative;
    background-color: #72d5a4;
    /*background: url("../img/bg-masthead.jpg") no-repeat center center;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 7rem;
  }
  
  header.masthead .overlay {
    position: absolute;
    background:url('../../assets/images/overlay.png') no-repeat center;
    background-position-x:1000px;
    background-position-y:170px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
  }
  
  header.masthead h1 {
    font-size: 2rem;
  }
  
  @media (min-width: 768px) {
    header.masthead {
      padding-top: 10rem;
      padding-bottom: 12rem;
    }
    header.masthead h1 {
      font-size: 3rem;
    }
  }
  
  .showcase .showcase-text {
    padding: 3rem;
  }
  
  .showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
  }
  
  @media (min-width: 768px) {
    .showcase .showcase-text {
      padding: 7rem;
    }
  }
  
  .features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  
  .features-icons .features-icons-item {
    max-width: 20rem;
  }
  
  .features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
  }
  
  .features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
  }
  
  .features-icons .features-icons-item:hover .features-icons-icon i {
    font-size: 5rem;
  }
  
  .testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  
  .testimonials .testimonial-item {
    max-width: 7rem;
  }
  
  .testimonials .testimonial-item img {
    max-width: 12rem;
  }
  
  .call-to-action {
    position: static;
    background-color: #72d5a4 !important;
    background: url("../../assets/images/bg-masthead.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  
  .call-to-action .overlay {
    position: absolute;
    background-color: #72d5a4;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  
  footer.footer {
    padding-top: 8px;
    padding-bottom:  8px;
  }

  .btn1:hover{
    color: blue;
  }

  input::-moz-placeholder{color:#ccc;font-weight:500 !important;}
  input:-ms-input-placeholder{color:#ccc;font-weight:500 !important;}
  input::-ms-input-placeholder{color:#ccc;font-weight:500 !important;}
  input::placeholder{color:#ccc;font-weight:500 !important;}
  
  ul{
    padding: 0;
    list-style: none;
    background: #f2f2f2;
}
ul li{
    display: inline-block;
    position: relative;
    line-height: 20px;
    text-align: left;
}
ul li a{
    display: block;
    padding: 8px 40px;
    color: #333;
    text-decoration: none;
    background-color: white;
}
ul li a:hover{
    color: rgb(37, 37, 146);
}
ul li ul.dropdown-menu{
    min-width: 100%; /* Set width of the dropdown */
    background: white;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}
ul li ul.dropdown-menu li{
    display: block;
}



.profile-image{
  border: 1px solid #ccc;
}

.navbar-toggler{
  border:0;
}

.navbar-toggler:focus{
  outline:none;
}

.input-navbar-search{
  width:50%;
}

.dropdown-toggle::after{
  display:none;
}

@media only screen and (max-width:768px) {
    .input-navbar-search{
        width:100%;
    }
}


