.btn:focus,.btn:active,.btn:hover{
    box-shadow: none;
  }
  .form-control:focus,.form-control:active,.form-control:hover{
    box-shadow:none;
    border-left:none;
    border-color:1px solid #ccc;

  }
  .features-icons-icon{
    background-color:#ffffff;
    border-radius:50px;
  }
  .testimonials .testimonial-item img {
    max-width: 100%; 
    box-shadow:none;
  }

  .testimonial-item{
    padding:33px;
    box-shadow:-1px 5px 7px #0000000f;
    border-radius:80px;
    background-color: #ffffff;
  }

  header.masthead{
    background-color: #72d5a4;
  }

  body{
    background-color: #fbfbfb;
  }



  