<div class="container">
  <br>
    <div style="">
        <h4>Sub Domain List</h4>
        <br>
        <table class="table">
            <thead class="table-head">
                <tr>
                  <th>S. No.</th>
                    <th>Sub Domain</th>
                    <th>Occupied</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let domain of allSubDomain; let i = index">
                    <th>{{i+1}}.</th>
                    <td>{{domain.salt}}</td>
                    <td>{{domain.occupied}}</td>
                    <td>
                        <!-- <span title="Delete Domain" class="glyphicon glyphicon-edit"><i class="fa fa-trash" aria-hidden="true" style="color: rgb(235, 102, 102);cursor: pointer;" data-toggle="modal" data-target="#bootstrapModel"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span style="color:red;" class="glyphicon glyphicon-trash"></span> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <button style="background-color: transparent; border: 1px solid #72d5a4; color: #72d5a4; margin-top: 1%;" class="btn create-image-button float-right" (click)="addSubDomain();"><i class="fa fa-plus" aria-hidden="true"></i> Sub Domain</button>
</div>