<div class="container">
  <br>
    <div style="">
        <h4>Sub Domain List</h4>
        <br>
        <table class="table">
            <thead class="table-head">
                <tr>
                  <th style="text-align:center;">S. No.</th>
                    <th style="text-align:center;">Sub Domain</th>
                    <th style="text-align:center;">Availability</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let domain of allSubDomain; let i = index">
                    <th style="text-align:center;">{{i+1}}.</th>
                    <td style="text-align:center;">{{domain.salt}}</td>
                    <td *ngIf="!domain.occupied" style="color: green; text-align:center"><i class="fa fa-check-circle-o" aria-hidden="true"></i>
                    </td>
                    <td *ngIf="domain.occupied" style="color: red; text-align: center;"><i class="fa fa-times-circle-o" aria-hidden="true"></i>
                    </td>
                    <td>
                        <!-- <span title="Delete Domain" class="glyphicon glyphicon-edit"><i class="fa fa-trash" aria-hidden="true" style="color: rgb(235, 102, 102);cursor: pointer;" data-toggle="modal" data-target="#bootstrapModel"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span style="color:red;" class="glyphicon glyphicon-trash"></span> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <button style="background-color: transparent; border: 1px solid #72d5a4; color: #72d5a4; margin-right: 50px;" class="btn create-image-button float-right" (click)="addSubDomain();"><i class="fa fa-plus" aria-hidden="true"></i> Sub Domain</button>
</div>