.sidebar{
    z-index: 1000;
    position: fixed;
    padding-left: 15px;
    width: 70px;
    height: 100%;
    overflow-y: auto;
    box-shadow: 1px 0px 5px 0px #00000047;
}

ul{
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    font-size: 40px;
}

.fa:hover{
    cursor: pointer;
}
.fa-archive:hover{
  color: red;
}

.fa-book:hover{
    color: orange;
}

.fa-globe:hover{
    color: green;
}