<div class="sidebar" style="background-color: white;">
  <ul>
    <li>
      <a style="color: #74d886" title="Create Image" routerLink="/root/dashboard/list-image">
        <i class="fa fa-camera" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a style="color: #74d886" title="Create Course" routerLink="/root/dashboard/category">
        <i class="fa fa-book" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a style="color: #74d886" title="Create Sub Domain" routerLink="/root/dashboard/sub-domain">
        <i class="fa fa-globe" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a style="color: #74d886" title="Create Sub Domain" routerLink="/root/dashboard/container">
          <i class="fa fa-archive" aria-hidden="true"></i>
        </a>
    </li>
    <li>
      <a style="color: #74d886" title="tutorial" routerLink="/root/dashboard/tutorial">
        <i class="fa fa-link" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
