<div class="sidebar">
  <ul>
    <li>
      <a title="Create Image" routerLink="/root/dashboard/list-image">
        <i class="fa fa-archive" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a title="Create Course" routerLink="/root/dashboard/createCourse">
        <i class="fa fa-book" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a title="Create Sub Domain" routerLink="/root/dashboard/sub-domain">
        <i class="fa fa-globe" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>