<body style="margin-top: 100px; margin-left: 70px;">
  <section class="creatcourse_section">
    <div class="container">
        <b class="creatcourse_headding">New Course</b>
        <br>
        <button class="btn btn-md btn-success" (click)="showaddcategorymodal();" style="margin-left: 0px;" >Add category</button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-md btn-success" (click)="showaddcategorymodal();" style="margin-left: 0px;" >Add course</button>
        <section>
          <br>
          <div class="row" style="margin-left: 0px;">
              <div class="list-group">
                <div *ngFor="let cat of categories; let i=index;">
                    <button type="button" class="list-group-item list-group-item-action" (click)="getCourse(cat.id);">{{cat.label}}</button>
                </div>         
              </div>
          <div class="modal addcategory" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">New category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                        <input type="text" class="form-control" placeholder="category Name" [(ngModel)]="categoryname" name="categoryname">

                    </form>
                               </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="selectcategory();" >Save </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
            <div class="row">
              
                <!-- <ul class="list-inline">
                    <li class="version-select-item list-inline-item">
                        <select class="select-os" id="exampleFormControlSelect1" #labelcat (click)="selectcategory"  >
                          <option value="" selected="" disabled="" id="choose_loc">Dependency</option>
                          <option></option>
                        </select>
                    </li>
                    </ul> -->
      <div class="col-lg-5">
              <div  style="width: 18rem;" *ngIf="!Flag || !Flag1" >
                <div  class="card mb-4" *ngFor="let a of sectionArray; let i=index" m-4 >
                  <div class="card-header">
                    <div *ngIf="sectionArray.length == 0">
                        <!-- <a href="">{{i + 1}}.New Section</a> -->
                    </div>
                    <!-- <a href="">{{i + 1}}.{{a.name}}</a> -->
                  </div>
                  <div *ngFor="let c of chapterArray; let j=index">
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item"><button class="btn btn-md creatcourse_btn">{{i +1}}.{{j + 1 }} {{c.name}}</button>
                          </li>
                        </ul>  
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><button class="btn btn-md creatcourse_btn" (click)="chapter(j); selectedSec(i);"><span class="fa fa-plus"></span> New Chapter</button>
                    </li>
                  </ul>                          
                </div>
                <br>
              </div>
             
      <button class="btn btn-md creatcourse_btn" style="width: 50%;" (click)="section();" ><span class="fa fa-plus"></span> New Section</button>
         </div>
            <div class="col-md-9 col-lg-6 creatcourse_addnewcourse" >
                <div *ngIf="flag && !flag1">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active">
                          Course List
                        </a>
                        <a type="click" class="list-group-item list-group-item-action" *ngFor="let course of allCourses;" (click)="getSection(course.id);">{{course.label}}</a>
                      </div>
                  </div>
                  <div *ngIf="flag && flag1">
                      <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active">
                            Section List
                        </a>
                        <a type="click" class="list-group-item list-group-item-action" *ngFor="let section of allSection;" (click)="getChapter(section.id);">{{section.label}}</a>
                      </div>
                  </div>
              <div *ngIf="Flag && Flag1 && !flag">
                <div class="input-group">
                  <select class="custom-select" id="inputGroupSelect04" #catId>
                    <option selected>Choose category...</option>
                    <option *ngFor="let cat of categories">{{cat.label}}</option>
                  </select>
                </div>
                  <input class="form-control wid" [(ngModel)]="courseName"  name="Course_name" placeholder=" The Course Name">
                  <div class="input-group">
                    <select class="custom-select" id="inputGroupSelect04" #imageId>
                      <option selected>Choose Image...</option>
                      <option *ngFor="let image of allImages">{{image.label}}</option>
                    </select>
                  </div>
                  <input class="form-control wid" [(ngModel)]="courseDis" name="couse_Img_dis" placeholder=" The Description">
                  <button class="pull-right" (click)="saveCourse();" >Save course</button>
              </div> 
              <br>
              <div *ngIf="flag && !flag1">
                  <p>Add Section</p>
                  <div class="input-group">
                    <select class="custom-select" id="inputGroupSelect04" #course>
                      <option selected>Choose course...</option>
                      <option *ngFor="let course of allCourses">{{course.label}}</option>
                    </select>
                  </div>
                    <input class="form-control wid" [(ngModel)]="courseName"  name="Course_name" placeholder=" The Course Name">
                    <input class="form-control wid" [(ngModel)]="courseDis" name="couse_Img_dis" placeholder=" The Description">
                    <button class="pull-right" (click)="addSection();" >Save section</button>
                </div> 

                <div *ngIf="flag && flag1">
                    <p>Add Chpater</p>
                    <div class="input-group">
                      <select class="custom-select" id="inputGroupSelect04" #section>
                        <option selected>Choose section...</option>
                        <option *ngFor="let section of allSection">{{section.label}}</option>
                      </select>
                    </div>
                      <input class="form-control wid" [(ngModel)]="chapterName"  name="chapter_name" placeholder=" The Chpater Name">
                      <input class="form-control wid" [(ngModel)]="chapterUrl" name="couse_url" placeholder="Chpater Url">
                      <button class="pull-right" (click)="addChapter();">Save chapter</button>
                  </div>

            <!-- <div *ngIf="!Flag && !Flag1" >
              <input class="form-control wid" [(ngModel)]="sectionName" name="sectionName" placeholder=" The Section Name">
          <textarea class="form-control wid1" [(ngModel)]="SectionDesc" name="sectionDis" placeholder=" The Description"></textarea>
        <button class="pull-right" (click)="savesection" >Save</button>
      </div> -->
      <!-- <div *ngIf="Flag && !Flag1">
          <input class="form-control wid" [(ngModel)]="chapterName" name="ChapterName" placeholder=" The Chapter Name">
          <input class="form-control wid" type="file" [(ngModel)]="Chapter_Url" name="Chapter_Url" placeholder=" The Chapter Url">
          <textarea class="form-control wid1" [(ngModel)]="chapterDis" name="ChapterDesc" placeholder=" The Description"></textarea>
          <button class="pull-right" (click)="savechapter" >Save</button>
        </div> -->
      </div>
    </div>
  </section>
 </div>
</section>


        <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#bootstrapModel">click to open</button> -->
        <div id="bootstrapModel" class="modal fade" role="dialog">
           <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Modal Header section</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
        <!-- model body section -->
               <input class="form-control wid" [(ngModel)]="sectionName" name="sectionName" placeholder=" The Section Name">
               <textarea class="form-control wid1" [(ngModel)]="SectionDesc" name="sectionDis" placeholder=" The Description"></textarea>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="pull-right" (click)="addSection();" >Save</button>
              </div>
            </div>
          </div>
        </div>
      </body>